/******************************

All images used belong to:

Markus Spiske - https://500px.com/markusspiske

Yinan Chen - https://500px.com/webmaster85

Fahim Akhter - https://500px.com/fahimakhter

*******************************/
html {
    
    font-size: 16px;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1;
    font-size:1 em;
    color: #555;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 2px solid #555;
}
.wrapper{
    width: 95%;
    margin: 0.5em auto;
}
ul{
    width: 100%;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 2em;
    text-align: center;
    
}
h2 {
    font-size: 1.25em;
    text-align: center;
    
}
li{
    width: 100%;
    list-style: none;
    float: left;
    margin: auto;
    text-align: center;
    padding: 1em 0;
    
}
picture, img{
    max-width: 90%;
    height: auto;
    border-radius: 15px;
    border: 1px solid #555;
    -webkit-box-shadow: 0.5em 0.5em 1em 0px rgba(50, 50, 50, 0.35);
-moz-box-shadow:    0.5em 0.5em 1em 0px rgba(50, 50, 50, 0.35);
box-shadow:         0.5em 0.5em 1em 0px rgba(50, 50, 50, 0.35);
  
    
  
}

footer{
     border-top: 2px solid #555;
    clear: both;
    text-align: center;
}

@media screen and (min-width: 600px){
    body{
        font-size: 1.5 em;
    }
    h1 {
    font-size: 3em;
    text-align: center;
    
}
      h2 {
    font-size: 2em;
    text-align: center;
    
}
    li{
        width: 50%;
    }
}

@media screen and (min-width: 1200px){
    body{
        font-size: 1.75 em;
    }
    h1 {
    font-size: 3.5em;
    text-align: center;
    
}
    h2 {
    font-size: 2.5em;
    text-align: center;
    
}
    li{
        width: 25%;
    }  
    
    
picture, img{
   
    transition: all 0.4s ease; 
    cursor:zoom-in;
    
}
picture, img:hover {
    transform: scale(1.5);
}
}